body {
    background-color: #5C3BA7;
    max-width: 970px;
    margin: auto;
}

h1 {
    color: white;
    font-family: helvetica-bold;
    font-size: 60px;
    text-align: center;
}

p {
   	color: white;
    font-family: helvetica;
    font-size: 14px;
}

ul {
	color: white;
	font-family: helvetica-bold;
    font-size: 14px;
    line-height: 28px
}

form {
	color: white;
	font-family: helvetica;
    font-size: 14px;
    line-height: 28px
}